/**
 * ============================================
 * A11Y VISUAL - Index
 * ============================================
 *
 * Visual accessibility settings.
 */

@import './text-only.css';
@import './highlight-links.css';
