@property --rotate {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

@property --delayed-rotate {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

@keyframes scrollAnim {
	to {
		--rotate: 1;
    --delayed-rotate: 1;
	}
}

:root {
  --circle-size: 30vmin;
  --spacing: 3vmin;
  --font-size: 5vmin;
  --ease-speed: 50ms;
}

body {
	height: 500vh;

  margin: 0;
  padding: 0;

  font-family: serif;
  font-size: var(--font-size);
  background-color: #EDE8E4;
  color: #222;

  animation: scrollAnim linear;
	animation-timeline: scroll(nearest block);
}

ul {
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;

  display: block;
  width: var(--circle-size);
  height: var(--circle-size);

  margin: 0;
  padding: 0;
  list-style: none;

  border-radius: 50%;
  // background-color: red;

  transform: rotate(calc(var(--rotate) * 360deg));
}

li {
  position: absolute;
  top: 50%;
  left: 50%;

  line-height: 0;
  transform-origin: 0 0;
  text-wrap: nowrap;

  $items: 20;
  $angle: 360 / $items;

  // &:last-child { color: red; }

  @for $i from 1 through $items {
    &:nth-child(#{$i}) {
      rotate: calc(#{$angle * $i}deg);
    }
  }

  span {
    --rotate-velocity: calc(var(--rotate) - var(--delayed-rotate));
    --rotate-spacing: calc(var(--spacing) * -4 * var(--rotate-velocity));
    --x: calc(var(--circle-size) / 2 + var(--rotate-spacing));
    --y: calc(10px * var(--rotate-velocity));
    --r: calc(90deg * var(--rotate-velocity));

    display: inline-block;
    transform: translate(var(--x), var(--y)) rotate(var(--r, 0deg));

    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        --y: calc((#{$i} * -20px) * var(--rotate-velocity));
        
        transform-origin: var(--x) 0;
        transition: --delayed-rotate calc(var(--ease-speed, 100ms) * #{$i - 1}) ease-out;
      }
    }
  }
}

em {
  display: block;
  margin: 4px;
  text-align: center;
  font-style: normal;
  font-size: small;
  
  @supports (animation-timeline: scroll()) {
    display: none;
  }
}
