/**
 * Theme: cloudcalm
 * Generator: cloudcalm
 * Luminance: light | HC
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #afbcac;
  --primary-mid: #6e806b;
  --primary-base: #50644c;
  --primary-emphasis: #374f33;
  --primary-contrast: #374f33;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #bab4c5;
  --secondary-mid: #7e758f;
  --secondary-base: #615874;
  --secondary-emphasis: #4c4161;
  --secondary-contrast: #4c4161;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #b5b0ac;
  --neutral-mid: #7f7974;
  --neutral-base: #625c58;
  --neutral-emphasis: #47413d;

  /* -- TEXT SCALE ---- */
  --text-tint: #a29d9d;
  --text-mid: #767070;
  --text-base: #5b5353;
  --text-emphasis: #413838;

  /* -- THEME META ---------------------------------- */
  --theme-luminance: light;
  --theme-chroma: calm;
  --theme-intensity: soft;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #ece1e4;
  --page-bg-raised: #f7f0f1;
  --page-bg-sunken: #dfd4d7;
  --page-bg-overlay: #f0e9eb;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #1a1a1a;
  --color-White: #fafafa;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #2f7a42;
  --color-Warning: #355ab6;
  --color-Error: #a63478;
  --color-Info: #6a3c8a;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 1;
  --media-saturation: 1;
  --media-contrast: 1;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #4c4300;
  --focus-bg: #ece1e4;
  --highlight-link-color: #004d50;

  --a11y-hc-icon-filter: brightness(0) invert(0);
}
