/**
 * Theme: cloudcalm
 * Generator: cloudcalm
 * Luminance: dark | HC
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #766368;
  --primary-mid: #9b7d85;
  --primary-base: #b7939d;
  --primary-emphasis: #ddb0bc;
  --primary-contrast: #ddb0bc;

  /* -- SECONDARY SCALE ---- */
  --text-tint: #636878;
  --text-mid: #7d859f;
  --text-base: #949dbb;
  --text-emphasis: #b1bce2;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #6d6863;
  --neutral-mid: #8b8580;
  --neutral-base: #a9a39e;
  --neutral-emphasis: #c9c3be;

  /* -- TEXT SCALE ---- */
  --secondary-tint: #615c5c;
  --secondary-mid: #8e8787;
  --secondary-base: #b7afae;
  --secondary-emphasis: #dfd4d4;
  --secondary-contrast: #dfd4d4;

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: calm;
  --theme-intensity: soft;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #4e505b;
  --page-bg-raised: #5f606d;
  --page-bg-sunken: #5f5d6a;
  --page-bg-overlay: #494d58;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #fafafa;
  --color-White: #1a1a1a;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #5fb094;
  --color-Warning: #e6b87a;
  --color-Error: #c06093;
  --color-Info: #8aafd1;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #9dffff;
  --focus-bg: #4e505b;
  --highlight-link-color: #a3fff6;

  --a11y-hc-icon-filter: brightness(0) invert(1);
}
