/**
 * Theme: mono-grey-cool
 * Generator: mono-grey-cool
 * Luminance: dark
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #40494e;
  --primary-mid: #5b656a;
  --primary-base: #788288;
  --primary-emphasis: #9ca7ac;
  --primary-contrast: #aeb9bf;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #555f65;
  --secondary-mid: #727c82;
  --secondary-base: #8f9aa0;
  --secondary-emphasis: #aeb9bf;
  --secondary-contrast: #c1cdd3;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #2b3439;
  --neutral-mid: #454f54;
  --neutral-base: #616b70;
  --neutral-emphasis: #7d888e;

  /* -- TEXT SCALE ---- */
  --text-tint: #727c82;
  --text-mid: #8f9aa0;
  --text-base: #aeb9bf;
  --text-emphasis: #c4d0d6;

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: grey;
  --theme-intensity: whisper;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #191b1c;
  --page-bg-raised: #27292a;
  --page-bg-sunken: #0c0e0f;
  --page-bg-overlay: #313334;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #fafafa;
  --color-White: #1a1a1a;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #6b756a;
  --color-Warning: #aa9b94;
  --color-Error: #e5d3d1;
  --color-Info: #474d58;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--shadow-Black);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #e3b831;
  --focus-bg: #191b1c;
  --highlight-link-color: #3fbcf0;
}
