/**
 * Theme: mono-grey-pure
 * Generator: mono-grey-pure
 * Luminance: dark | HC
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #484848;
  --primary-mid: #636363;
  --primary-base: #808080;
  --primary-emphasis: #a4a4a4;
  --primary-contrast: #b7b7b7;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #5d5d5d;
  --secondary-mid: #7a7a7a;
  --secondary-base: #989898;
  --secondary-emphasis: #b7b7b7;
  --secondary-contrast: #cacaca;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #333333;
  --neutral-mid: #4d4d4d;
  --neutral-base: #696969;
  --neutral-emphasis: #868686;
  --neutral-contrast: #989898;

  /* -- TEXT SCALE ---- */
  --text-tint: #7a7a7a;
  --text-mid: #989898;
  --text-base: #b7b7b7;
  --text-emphasis: #cecece;
  --text-contrast: #e4e4e4;

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: grey;
  --theme-intensity: pure;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #121212;
  --page-bg-raised: #1f1f1f;
  --page-bg-sunken: #070707;
  --page-bg-overlay: #292929;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #fafafa;
  --color-White: #1a1a1a;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #6b756a;
  --color-Warning: #aa9b94;
  --color-Error: #e5d3d1;
  --color-Info: #474d58;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #e3b831;
  --focus-bg: #121212;
  --highlight-link-color: #3fbcf0;

  --a11y-hc-icon-filter: brightness(0) invert(1);
}
