/**
 * Theme: mono-grey-warm
 * Generator: mono-grey-warm
 * Luminance: light | HC
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #c9bab3;
  --primary-mid: #9d8f88;
  --primary-base: #6d605a;
  --primary-emphasis: #41352f;
  --primary-contrast: #271d17;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #afa19a;
  --secondary-mid: #7e716a;
  --secondary-base: #564a44;
  --secondary-emphasis: #2c211c;
  --secondary-contrast: #190f0a;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #e3d4cc;
  --neutral-mid: #bcaea6;
  --neutral-base: #8a7d76;
  --neutral-emphasis: #5f524c;

  /* -- TEXT SCALE ---- */
  --text-tint: #6d605a;
  --text-mid: #4b4039;
  --text-base: #2c211c;
  --text-emphasis: #140b06;

  /* -- THEME META ---------------------------------- */
  --theme-luminance: light;
  --theme-chroma: grey;
  --theme-intensity: whisper;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #eee6e2;
  --page-bg-raised: #fbf3ef;
  --page-bg-sunken: #e0d9d5;
  --page-bg-overlay: #fef7f3;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #1a1a1a;
  --color-White: #fafafa;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #889388;
  --color-Warning: #6e605a;
  --color-Error: #3d2f2e;
  --color-Info: #b0b8c5;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 1;
  --media-saturation: 1;
  --media-contrast: 1;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #594500;
  --focus-bg: #eee6e2;
  --highlight-link-color: #005e7f;

  --a11y-hc-icon-filter: brightness(0) invert(0);
}
