/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: light | HC
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --secondary-tint: #a9edc2;
  --secondary-mid: #44d98c;
  --secondary-base: #33c87e;
  --secondary-emphasis: #17531f;
  --secondary-contrast: #17531f;

  /* -- SECONDARY SCALE ---- */
  --primary-tint: #fa7263;
  --primary-mid: #ef2d26;
  --primary-base: #bf251e;
  --primary-emphasis: #7f1313;
  --primary-contrast: #7f1313;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #f2f6f9;
  --neutral-mid: #a5abb0;
  --neutral-base: #51595f;
  --neutral-emphasis: #1a1b1c;
  --neutral-contrast: #1a1b1c;

  /* -- TEXT SCALE ---- */
  --text-tint: #4f191c;
  --text-mid: #37040a;
  --text-base: #1c0002;
  --text-emphasis: #050101;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: light;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #fcfcfc;
  --page-bg-raised: #ffffff;
  --page-bg-sunken: #f5f5f5;
  --page-bg-overlay: #ffffff;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #1a1a1a;
  --color-White: #fafafa;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #00837e;
  --color-Warning: #bc4800;
  --color-Error: #b80eb3;
  --color-Info: #0057f8;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 1;
  --media-saturation: 1;
  --media-contrast: 1;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #00623d;
  --focus-bg: #fcfcfc;
  --highlight-link-color: #69447a;

  --a11y-hc-icon-filter: brightness(0) invert(0);
}
