/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: light
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #68c7ff;
  --primary-mid: #00afff;
  --primary-base: #00a9f7;
  --primary-emphasis: #004c94;
  --primary-contrast: #004c94;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #e74839;
  --secondary-mid: #dc0000;
  --secondary-base: #b80000;
  --secondary-emphasis: #720000;
  --secondary-contrast: #720000;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #eae3de;
  --neutral-mid: #aca39c;
  --neutral-base: #6c6159;
  --neutral-emphasis: #2e2722;

  /* -- TEXT SCALE ---- */
  --text-tint: #4f191c;
  --text-mid: #37040a;
  --text-base: #1c0002;
  --text-emphasis: #050101;

  /* -- THEME META ---------------------------------- */
  --theme-luminance: light;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #faf3f5;
  --page-bg-raised: #fffafb;
  --page-bg-sunken: #f0e9eb;
  --page-bg-overlay: #fffdff;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #1a1a1a;
  --color-White: #fafafa;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #00837e;
  --color-Warning: #bc4800;
  --color-Error: #b80eb3;
  --color-Info: #0057f8;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 1;
  --media-saturation: 1;
  --media-contrast: 1;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #b35100;
  --focus-bg: #faf3f5;
  --highlight-link-color: #008090;
}
