/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: light | HC
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #c4c6ff;
  --primary-mid: #a09dff;
  --primary-base: #7a6cff;
  --primary-emphasis: #302476;
  --primary-contrast: #302476;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #728cfe;
  --secondary-mid: #4e62fc;
  --secondary-base: #371bfc;
  --secondary-emphasis: #19008c;
  --secondary-contrast: #19008c;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #f2eeea;
  --neutral-mid: #a39d98;
  --neutral-base: #534b46;
  --neutral-emphasis: #15110d;
  --neutral-contrast: #15110d;

  /* -- TEXT SCALE ---- */
  --text-tint: #4f191c;
  --text-mid: #37040a;
  --text-base: #1c0002;
  --text-emphasis: #050101;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: light;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #fcfcfc;
  --page-bg-raised: #ffffff;
  --page-bg-sunken: #f5f5f5;
  --page-bg-overlay: #ffffff;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #1a1a1a;
  --color-White: #fafafa;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #008b13;
  --color-Warning: #d40b25;
  --color-Error: #b80eb3;
  --color-Info: #751bfd;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 1;
  --media-saturation: 1;
  --media-contrast: 1;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #638100;
  --focus-bg: #fcfcfc;
  --highlight-link-color: #0099a5;

  --a11y-hc-icon-filter: brightness(0) invert(0);
}
