/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: dark
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #7c0039;
  --primary-mid: #b9005a;
  --primary-base: #f3007a;
  --primary-emphasis: #f690ae;
  --primary-contrast: #f690ae;

  /* -- SECONDARY SCALE ---- */
  --neutral-tint: #1a0082;
  --neutral-mid: #2400a5;
  --neutral-base: #3a00f1;
  --neutral-emphasis: #5d6ef2;

  /* -- NEUTRAL SCALE ---- */
  --secondary-tint: #1c2328;
  --secondary-mid: #525d65;
  --secondary-base: #949da4;
  --secondary-emphasis: #d6dce2;
  --secondary-contrast: #d6dce2;

  /* -- TEXT SCALE ---- */
  --text-tint: #f4b0af;
  --text-mid: #ffd0cf;
  --text-base: #ffe7e6;
  --text-emphasis: #fff4f4;

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #002c4c;
  --page-bg-raised: #003c5d;
  --page-bg-sunken: #001c3b;
  --page-bg-overlay: #0f4769;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #fafafa;
  --color-White: #1a1a1a;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #fedd57;
  --color-Warning: #ffa378;
  --color-Error: #ff9f00;
  --color-Info: #97bfff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--shadow-Black);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #ffa46e;
  --focus-bg: #002c4c;
  --highlight-link-color: #73f7df;
}
