/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: dark | HC
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #660132;
  --primary-mid: #af085c;
  --primary-base: #fd1a88;
  --primary-emphasis: #ffb5cb;
  --primary-contrast: #ffb5cb;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #19008c;
  --secondary-mid: #1c0196;
  --secondary-base: #371bfc;
  --secondary-emphasis: #728cfe;
  --secondary-contrast: #728cfe;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #362a1e;
  --neutral-mid: #534b46;
  --neutral-base: #a39d98;
  --neutral-emphasis: #df7f20;

  /* -- TEXT SCALE ---- */
  --text-tint: #855251;
  --text-mid: #cf8e8d;
  --text-base: #e9bfbb;
  --text-emphasis: #ebbebe;

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #1b1b1b;
  --page-bg-raised: #292929;
  --page-bg-sunken: #0d0d0d;
  --page-bg-overlay: #333333;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #fafafa;
  --color-White: #1a1a1a;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #00f837;
  --color-Warning: #ffa378;
  --color-Error: #ff9f97;
  --color-Info: #97bfff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #ffbf26;
  --focus-bg: #1b1b1b;
  --highlight-link-color: #30ffff;

  --a11y-hc-icon-filter: brightness(0) invert(1);
}
