/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: light
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #b1b2ff;
  --primary-mid: #968fff;
  --primary-base: #7a6cff;
  --primary-emphasis: #413299;
  --primary-contrast: #413299;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #5f79fd;
  --secondary-mid: #4553fc;
  --secondary-base: #371bfc;
  --secondary-emphasis: #19008c;
  --secondary-contrast: #19008c;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #eae3de;
  --neutral-mid: #aba39c;
  --neutral-base: #6b6159;
  --neutral-emphasis: #2e2722;

  /* -- TEXT SCALE ---- */
  --text-tint: #4f191c;
  --text-mid: #37040a;
  --text-base: #1c0002;
  --text-emphasis: #050101;

  /* -- THEME META ---------------------------------- */
  --theme-luminance: light;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #faf3f5;
  --page-bg-raised: #fffafb;
  --page-bg-sunken: #f0e9eb;
  --page-bg-overlay: #fffdff;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #1a1a1a;
  --color-White: #fafafa;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #008b13;
  --color-Warning: #d40b25;
  --color-Error: #b80eb3;
  --color-Info: #751bfd;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 1;
  --media-saturation: 1;
  --media-contrast: 1;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #638100;
  --focus-bg: #faf3f5;
  --highlight-link-color: #0099a5;
}
