/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: dark | HC
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #52112c;
  --primary-mid: #7b2e4a;
  --primary-base: #ff589f;
  --primary-emphasis: #ff589f;
  --primary-contrast: #ff589f;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #1d275f;
  --secondary-mid: #384788;
  --secondary-base: #7694ff;
  --secondary-emphasis: #7694ff;
  --secondary-contrast: #7694ff;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #614731;
  --neutral-mid: #91745d;
  --neutral-base: #c4a892;
  --neutral-emphasis: #f7e0ce;
  --neutral-contrast: #8a7e75;

  /* -- TEXT SCALE ---- */
  --text-tint: #5f2528;
  --text-mid: #9d5d5d;
  --text-base: #da9b9a;
  --text-emphasis: #ffdfde;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #1e0a11;
  --page-bg-raised: #2d181e;
  --page-bg-sunken: #0e0205;
  --page-bg-overlay: #372228;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #fafafa;
  --color-White: #1a1a1a;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #6cc088;
  --color-Warning: #ffb870;
  --color-Error: #ff8a8a;
  --color-Info: #7fb3e2;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #ddc276;
  --focus-bg: #1e0a11;
  --highlight-link-color: #73dac8;

  --a11y-hc-icon-filter: brightness(0) invert(1);
}
