/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: dark
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #132b5a;
  --primary-mid: #2d4b83;
  --primary-base: #6399ff;
  --primary-emphasis: #5b9dff;
  --primary-contrast: #5b9dff;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #461943;
  --secondary-mid: #6b3666;
  --secondary-base: #e46bdb;
  --secondary-emphasis: #e76ede;
  --secondary-contrast: #e76ede;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #6b5953;
  --neutral-mid: #9a8781;
  --neutral-base: #bda9a2;
  --neutral-emphasis: #e4d3ce;
  --neutral-contrast: #e4d3ce;

  /* -- TEXT SCALE ---- */
  --text-tint: #604734;
  --text-mid: #957a65;
  --text-base: #c4a892;
  --text-emphasis: #efd1ba;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #3b2f32;
  --page-bg-raised: #4b3f42;
  --page-bg-sunken: #2a2124;
  --page-bg-overlay: #56494d;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #fafafa;
  --color-White: #1a1a1a;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--shadow-Black);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #c7ca7d;
  --focus-bg: #3b2f32;
  --highlight-link-color: #73d3f1;
}
