/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: dark
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --secondary-tint: #340008;
  --secondary-mid: #5b1722;
  --secondary-base: #e13c5a;
  --secondary-emphasis: #e23f60;
  --secondary-contrast: #e23f60;

  /* -- SECONDARY SCALE ---- */
  --primary-tint: #16093c;
  --primary-mid: #312762;
  --primary-base: #776bd9;
  --primary-emphasis: #7970d9;
  --primary-contrast: #7970d9;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #4b4134;
  --neutral-mid: #776e5f;
  --neutral-base: #998d7f;
  --neutral-emphasis: #c0b7aa;
  --neutral-contrast: #c0b7aa;

  /* -- TEXT SCALE ---- */
  --text-tint: #644343;
  --text-mid: #9a7675;
  --text-base: #c9a3a2;
  --text-emphasis: #f4cccb;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #393129;
  --page-bg-raised: #494139;
  --page-bg-sunken: #29231d;
  --page-bg-overlay: #554b43;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #fafafa;
  --color-White: #1a1a1a;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--shadow-Black);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #ddc276;
  --focus-bg: #393129;
  --highlight-link-color: #73dac8;
}
