/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: dark | HC
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #4f153b;
  --primary-mid: #77325c;
  --primary-base: #f55fc3;
  --primary-emphasis: #f55fc3;
  --primary-contrast: #f55fc3;

  /* -- SECONDARY SCALE ---- */
  --text-tint: #1d275f;
  --text-mid: #384788;
  --text-base: #7694ff;
  --text-emphasis: #7694ff;
  --text-contrast: var(--color-Black);

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #786563;
  --neutral-mid: #968280;
  --neutral-base: #b6a19e;
  --neutral-emphasis: #d2c1c0;
  --neutral-contrast: #d2c1c0;

  /* -- TEXT SCALE ---- */
  --secondary-tint: #76584a;
  --secondary-mid: #a38375;
  --secondary-base: #ccab9c;
  --secondary-emphasis: #f5d1c1;
  --secondary-contrast: #f5d1c1;

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #2b3245;
  --page-bg-raised: #3b4255;
  --page-bg-sunken: #1e2332;
  --page-bg-overlay: #454c61;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #fafafa;
  --color-White: #1a1a1a;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #f7dc8f;
  --focus-bg: #2b3245;
  --highlight-link-color: #87eddb;

  --a11y-hc-icon-filter: brightness(0) invert(1);
}
