/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: dark
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --secondary-tint: #470c23;
  --secondary-mid: #6f2a41;
  --secondary-base: #f6568f;
  --secondary-emphasis: #f65992;
  --secondary-contrast: #f65992;

  /* -- SECONDARY SCALE ---- */
  --primary-tint: #1a2051;
  --primary-mid: #353f7a;
  --primary-base: #7289f5;
  --primary-emphasis: #758df5;
  --primary-contrast: #758df5;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #605348;
  --neutral-mid: #8f8174;
  --neutral-base: #b1a296;
  --neutral-emphasis: #d8ccc1;
  --neutral-contrast: #d8ccc1;

  /* -- TEXT SCALE ---- */
  --text-tint: #644343;
  --text-mid: #9a7675;
  --text-base: #c9a3a2;
  --text-emphasis: #f4cccb;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #2f323c;
  --page-bg-raised: #3f424c;
  --page-bg-sunken: #21242b;
  --page-bg-overlay: #494d58;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #fafafa;
  --color-White: #1a1a1a;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--shadow-Black);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #ddc276;
  --focus-bg: #2f323c;
  --highlight-link-color: #73dac8;
}
