/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: dark
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #850344;
  --primary-mid: #ff7ba9;
  --primary-base: #fd1a88;
  --primary-emphasis: #ff99ba;
  --primary-contrast: #ff99ba;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #19008c;
  --secondary-mid: #4e62fc;
  --secondary-base: #371bfc;
  --secondary-emphasis: #5f79fd;
  --secondary-contrast: #5f79fd;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #5e2a00;
  --neutral-mid: #a35e16;
  --neutral-base: #db9152;
  --neutral-emphasis: #ffd2a9;
  --neutral-contrast: #ffd2a9;

  /* -- TEXT SCALE ---- */
  --text-tint: #003769;
  --text-mid: #0073bb;
  --text-base: #15b2f5;
  --text-emphasis: #aaddfc;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #2c2729;
  --page-bg-raised: #3c3638;
  --page-bg-sunken: #1e191a;
  --page-bg-overlay: #464142;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #fafafa;
  --color-White: #1a1a1a;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #30ffe0;
  --color-Warning: #ffab3d;
  --color-Error: #ff5ccc;
  --color-Info: #4aa8ff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--shadow-Black);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #fbb08e;
  --focus-bg: #2c2729;
  --highlight-link-color: #73dac8;
}
