/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: dark | HC
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #272878;
  --primary-mid: #a3b2ff;
  --primary-base: #6a72ff;
  --primary-emphasis: #bdc9ff;
  --primary-contrast: #bdc9ff;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #3d016f;
  --secondary-mid: #af7afe;
  --secondary-base: #9114f9;
  --secondary-emphasis: #bd96ff;
  --secondary-contrast: #bd96ff;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #733d00;
  --neutral-mid: #ad6723;
  --neutral-base: #e59b5b;
  --neutral-emphasis: #ffd9af;
  --neutral-contrast: #ffd9af;

  /* -- TEXT SCALE ---- */
  --text-tint: #2d4a00;
  --text-mid: #5b8100;
  --text-base: #98be49;
  --text-emphasis: #d3e3bb;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #1b1b1b;
  --page-bg-raised: #292929;
  --page-bg-sunken: #0d0d0d;
  --page-bg-overlay: #333333;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #fafafa;
  --color-White: #1a1a1a;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #34f747;
  --color-Warning: #ff4400;
  --color-Error: #ff5ccc;
  --color-Info: #b080ff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #d3c678;
  --focus-bg: #1b1b1b;
  --highlight-link-color: #6bd8de;

  --a11y-hc-icon-filter: brightness(0) invert(1);
}
