/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: light | HC
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #ffb5cb;
  --primary-mid: #b80961;
  --primary-base: #fd1a88;
  --primary-emphasis: #660132;
  --primary-contrast: #660132;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #23b35d;
  --secondary-mid: #004f00;
  --secondary-base: #008640;
  --secondary-emphasis: #004300;
  --secondary-contrast: #004300;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #e5b28a;
  --neutral-mid: #a56b38;
  --neutral-base: #7a3800;
  --neutral-emphasis: #4a1700;
  --neutral-contrast: #4a1700;

  /* -- TEXT SCALE ---- */
  --text-tint: #e68485;
  --text-mid: #af3b43;
  --text-base: #7c000f;
  --text-emphasis: #490000;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: light;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #f2f2f2;
  --page-bg-raised: #fcfcfc;
  --page-bg-sunken: #e4e4e4;
  --page-bg-overlay: #ffffff;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #1a1a1a;
  --color-White: #fafafa;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #00b0a0;
  --color-Warning: #ff7a00;
  --color-Error: #d000a0;
  --color-Info: #0070e0;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 1;
  --media-saturation: 1;
  --media-contrast: 1;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #5c4800;
  --focus-bg: #f2f2f2;
  --highlight-link-color: #00574d;

  --a11y-hc-icon-filter: brightness(0) invert(0);
}
