/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: light
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --secondary-tint: #f7cceb;
  --secondary-mid: #bf71a7;
  --secondary-base: #b22b93;
  --secondary-emphasis: #a21885;
  --secondary-contrast: #a21885;

  /* -- SECONDARY SCALE ---- */
  --primary-tint: #c5defe;
  --primary-mid: #5f90d7;
  --primary-base: #0063d9;
  --primary-emphasis: #0054c9;
  --primary-contrast: #0054c9;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #cbbbb4;
  --neutral-mid: #9b8781;
  --neutral-base: #77655e;
  --neutral-emphasis: #5a4943;
  --neutral-contrast: #5a4943;

  /* -- TEXT SCALE ---- */
  --text-tint: #cca6a9;
  --text-mid: #9a7678;
  --text-base: #7b595c;
  --text-emphasis: #644346;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: light;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --theme-contrast: standard;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #e0e4ed;
  --page-bg-raised: #f0f2f7;
  --page-bg-sunken: #d3d7e0;
  --page-bg-overlay: #e8ebf1;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #1a1a1a;
  --color-White: #fafafa;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 1;
  --media-saturation: 1;
  --media-contrast: 1;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #796006;
  --focus-bg: #e0e4ed;
  --highlight-link-color: #006c5e;
}
