/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: light
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #ff99ba;
  --primary-mid: #cc0e6c;
  --primary-base: #fd1a88;
  --primary-emphasis: #850344;
  --primary-contrast: #850344;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #5f79fd;
  --secondary-mid: #2604bc;
  --secondary-base: #371bfc;
  --secondary-emphasis: #19008c;
  --secondary-contrast: #19008c;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #f2bf96;
  --neutral-mid: #b97d4a;
  --neutral-base: #8d4a00;
  --neutral-emphasis: #5e2a00;
  --neutral-contrast: #5e2a00;

  /* -- TEXT SCALE ---- */
  --text-tint: #fb9797;
  --text-mid: #c34e54;
  --text-base: #940022;
  --text-emphasis: #640000;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: light;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #ede6e7;
  --page-bg-raised: #faf3f5;
  --page-bg-sunken: #dcd5d7;
  --page-bg-overlay: #fffafb;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #1a1a1a;
  --color-White: #fafafa;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #00a838;
  --color-Warning: #ff7a00;
  --color-Error: #e6002d;
  --color-Info: #0070e0;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 1;
  --media-saturation: 1;
  --media-contrast: 1;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #796006;
  --focus-bg: #ede6e7;
  --highlight-link-color: #007466;
}
