/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: dark | HC
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #102a5e;
  --primary-mid: #2a4a89;
  --primary-base: #5d95ff;
  --primary-emphasis: #5198ff;
  --primary-contrast: #5198ff;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #481645;
  --secondary-mid: #6d3369;
  --secondary-base: #ed66e4;
  --secondary-emphasis: #ed66e4;
  --secondary-contrast: #ed66e4;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #74665b;
  --neutral-mid: #928377;
  --neutral-base: #b1a195;
  --neutral-emphasis: #cec1b8;
  --neutral-contrast: #cec1b8;

  /* -- TEXT SCALE ---- */
  --text-tint: #755453;
  --text-mid: #a37f7e;
  --text-base: #cca6a5;
  --text-emphasis: #f4cccb;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #422b32;
  --page-bg-raised: #523b41;
  --page-bg-sunken: #301e23;
  --page-bg-overlay: #5e454c;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #fafafa;
  --color-White: #1a1a1a;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #dbde8f;
  --focus-bg: #422b32;
  --highlight-link-color: #87e7ff;

  --a11y-hc-icon-filter: brightness(0) invert(1);
}
