/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: dark
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --neutral-tint: #7c0039;
  --neutral-mid: #f6729c;
  --neutral-base: #f3007a;
  --neutral-emphasis: #f690ae;
  --neutral-contrast: #f690ae;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #1a0082;
  --secondary-mid: #4d56f1;
  --secondary-base: #3a00f1;
  --secondary-emphasis: #5d6ef2;
  --secondary-contrast: #5d6ef2;

  /* -- NEUTRAL SCALE ---- */
  --primary-tint: #00412e;
  --primary-mid: #007e61;
  --primary-base: #33b393;
  --primary-emphasis: #9fe2cc;
  --primary-contrast: #9fe2cc;

  /* -- TEXT SCALE ---- */
  --text-tint: #640000;
  --text-mid: #b6303e;
  --text-base: #f47a7d;
  --text-emphasis: #ffc4c3;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #252a28;
  --page-bg-raised: #333937;
  --page-bg-sunken: #171c1a;
  --page-bg-overlay: #3f4442;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #fafafa;
  --color-White: #1a1a1a;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #30ffe0;
  --color-Warning: #ffab3d;
  --color-Error: #ff7000;
  --color-Info: #4aa8ff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--shadow-Black);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #fbb08e;
  --focus-bg: #252a28;
  --highlight-link-color: #73dac8;
}
