/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: dark | HC
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #660132;
  --primary-mid: #ff94b7;
  --primary-base: #fd1a88;
  --primary-emphasis: #ffb5cb;
  --primary-contrast: #ffb5cb;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #19008c;
  --secondary-mid: #5c74fd;
  --secondary-base: #371bfc;
  --secondary-emphasis: #728cfe;
  --secondary-contrast: #728cfe;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #005c62;
  --neutral-mid: #008f97;
  --neutral-base: #2bc4cc;
  --neutral-emphasis: #a9eff3;
  --neutral-contrast: #a9eff3;

  /* -- TEXT SCALE ---- */
  --text-tint: #004c76;
  --text-mid: #0084b7;
  --text-base: #00c2f1;
  --text-emphasis: #b4e5f6;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #1b1b1b;
  --page-bg-raised: #292929;
  --page-bg-sunken: #0d0d0d;
  --page-bg-overlay: #333333;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #fafafa;
  --color-White: #1a1a1a;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #30ffe0;
  --color-Warning: #ffab3d;
  --color-Error: #ff5ccc;
  --color-Info: #4aa8ff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #fbb08e;
  --focus-bg: #1b1b1b;
  --highlight-link-color: #73dac8;

  --a11y-hc-icon-filter: brightness(0) invert(1);
}
