/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: light | HC
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #ffebff;
  --primary-mid: #f68fba;
  --primary-base: #bc396e;
  --primary-emphasis: #973054;
  --primary-contrast: #973054;

  /* -- SECONDARY SCALE ---- */
  --text-tint: #d7eaff;
  --text-mid: #7a96ed;
  --text-base: #2f42d2;
  --text-emphasis: #2227ba;
  --text-contrast: var(--color-Black);

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #e2d4cc;
  --neutral-mid: #ac9b90;
  --neutral-base: #8d7d73;
  --neutral-emphasis: #6f5f56;
  --neutral-contrast: #6f5f56;

  /* -- TEXT SCALE ---- */
  --secondary-tint: #d3acad;
  --secondary-mid: #a27e80;
  --secondary-base: #846163;
  --secondary-emphasis: #664647;
  --secondary-contrast: #664647;

  /* -- THEME META ---------------------------------- */
  --theme-luminance: light;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #dde4f6;
  --page-bg-raised: #ecf1fe;
  --page-bg-sunken: #d0d7e9;
  --page-bg-overlay: #e5eaf7;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #1a1a1a;
  --color-White: #fafafa;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 1;
  --media-saturation: 1;
  --media-contrast: 1;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #573e00;
  --focus-bg: #dde4f6;
  --highlight-link-color: #005245;

  --a11y-hc-icon-filter: brightness(0) invert(0);
}
