/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: light
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #baafff;
  --primary-mid: #734de6;
  --primary-base: #8867ff;
  --primary-emphasis: #492f97;
  --primary-contrast: #492f97;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #85b000;
  --secondary-mid: #396500;
  --secondary-base: #628100;
  --secondary-emphasis: #1d3700;
  --secondary-contrast: #1d3700;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #c0c6ff;
  --neutral-mid: #8085c8;
  --neutral-base: #52549d;
  --neutral-emphasis: #323368;
  --neutral-contrast: #323368;

  /* -- TEXT SCALE ---- */
  --text-tint: #fb9797;
  --text-mid: #c34e54;
  --text-base: #940022;
  --text-emphasis: #640000;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: light;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #ede6e7;
  --page-bg-raised: #faf3f5;
  --page-bg-sunken: #dcd5d7;
  --page-bg-overlay: #fffafb;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #1a1a1a;
  --color-White: #fafafa;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #00a838;
  --color-Warning: #9b50cb;
  --color-Error: #c800a0;
  --color-Info: #7a00e0;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 1;
  --media-saturation: 1;
  --media-contrast: 1;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #71640b;
  --focus-bg: #ede6e7;
  --highlight-link-color: #007277;
}
