/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: light | HC
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #fec6d1;
  --primary-mid: #cf677a;
  --primary-base: #94002c;
  --primary-emphasis: #6e001a;
  --primary-contrast: #6e001a;

  /* -- SECONDARY SCALE ---- */
  --text-tint: #cbdcff;
  --text-mid: #7289df;
  --text-base: #2e31c4;
  --text-emphasis: #220fac;
  --text-contrast: var(--color-Black);

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #cdb5a6;
  --neutral-mid: #8d705e;
  --neutral-base: #5f4431;
  --neutral-emphasis: #391f0c;
  --neutral-contrast: #391f0c;

  /* -- TEXT SCALE ---- */
  --secondary-tint: #c5948b;
  --secondary-mid: #8c554c;
  --secondary-base: #5c241c;
  --secondary-emphasis: #300000;
  --secondary-contrast: #300000;

  /* -- THEME META ---------------------------------- */
  --theme-luminance: light;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #dee4f6;
  --page-bg-raised: #edf1fe;
  --page-bg-sunken: #d1d7e9;
  --page-bg-overlay: #e6eaf7;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #1a1a1a;
  --color-White: #fafafa;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #008f60;
  --color-Warning: #c26100;
  --color-Error: #9a0070;
  --color-Info: #1e5a8a;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 1;
  --media-saturation: 1;
  --media-contrast: 1;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #573e00;
  --focus-bg: #dee4f6;
  --highlight-link-color: #005245;

  --a11y-hc-icon-filter: brightness(0) invert(0);
}
