/**
 * Theme: mono-grey-warm
 * Generator: mono-grey-warm
 * Luminance: dark | HC
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #51453e;
  --primary-mid: #6d605a;
  --primary-base: #8a7d76;
  --primary-emphasis: #afa19a;
  --primary-contrast: #c2b4ad;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #675b54;
  --secondary-mid: #847770;
  --secondary-base: #a3958e;
  --secondary-emphasis: #c2b4ad;
  --secondary-contrast: #d6c7c0;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #3b302a;
  --neutral-mid: #564a44;
  --neutral-base: #73665f;
  --neutral-emphasis: #90837c;
  --neutral-contrast: #a3958e;

  /* -- TEXT SCALE ---- */
  --text-tint: #847770;
  --text-mid: #a3958e;
  --text-base: #c2b4ad;
  --text-emphasis: #d9cac3;
  --text-contrast: #f0e1d9;

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: grey;
  --theme-intensity: whisper;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #15100e;
  --page-bg-raised: #231e1b;
  --page-bg-sunken: #090706;
  --page-bg-overlay: #2d2825;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #fafafa;
  --color-White: #1a1a1a;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #6b756a;
  --color-Warning: #aa9b94;
  --color-Error: #e5d3d1;
  --color-Info: #474d58;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #e3b831;
  --focus-bg: #15100e;
  --highlight-link-color: #3fbcf0;

  --a11y-hc-icon-filter: brightness(0) invert(1);
}
