:root {
  --brand-c-bg: #000000;
  --brand-c-text: #ffffff;
  --brand-c-primary: #00ff00;
  --brand-c-secondary: #00ffff;

  --brand-c-primary-light: #00ff00;
  --brand-c-primary-dark: #00ff00;

  --brand-c-secondary-light: #00ffff;
  --brand-c-secondary-dark: #00ffff;

  --brand-c-neutral-light: #000000;
  --brand-c-neutral: #ffffff;
  --brand-c-neutral-dark: #ffffff;

  --brand-c-bg-light: #000000;
  --brand-c-bg-dark: #000000;

  --brand-c-text-light: #ffffff;
  --brand-c-text-dark: #ffffff;

  /* ============================================
     THEME-SPECIFIC
     ============================================ */
  --a11y-hc-icon-filter: brightness(0) invert(1);
  --page-bg: var(--brand-c-bg);
  --btn-filled-text: var(--color-Black);
  --media-brightness: 1;
  --media-saturation: 1;
  --media-contrast: 1;
}
