:root {
  --brand-c-bg: #fdf4ff;
  --brand-c-text: #1e293b;
  --brand-c-primary: #cc3399;
  --brand-c-secondary: #06b6d4;

  --brand-c-primary-light: #cc3399;
  --brand-c-primary-dark: #cc3399;

  --brand-c-secondary-light: #06b6d4;
  --brand-c-secondary-dark: #06b6d4;

  --brand-c-neutral-light: #fdf4ff;
  --brand-c-neutral: #1e293b;
  --brand-c-neutral-dark: #1e293b;

  --brand-c-bg-light: #fdf4ff;
  --brand-c-bg-dark: #1e293b;

  --brand-c-text-light: #1e293b;
  --brand-c-text-dark: #1e293b;

  --page-bg: var(--brand-c-bg);
  --hero-overlay-color: var(--brand-c-bg);
  --btn-filled-text: var(--color-White);
  --btn-outline-text: var(--brand-c-primary);
  --btn-ghost-text: var(--brand-c-primary);
  --media-brightness: 1;
  --media-saturation: 1;
  --media-contrast: 1;
}
