/**
 * Theme: cloudcalm
 * Generator: cloudcalm
 * Luminance: light
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --secondary-tint: #bfaaaa;
  --secondary-mid: #947e81;
  --secondary-base: #675454;
  --secondary-emphasis: #483a38;
  --secondary-contrast: #483a38;

  /* -- SECONDARY SCALE ---- */
  --primary-tint: #afb0c1;
  --primary-mid: #838494;
  --primary-base: #545464;
  --primary-emphasis: #3a3e49;
  --primary-contrast: #3a3e49;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #afa8a6;
  --neutral-mid: #7e7974;
  --neutral-base: #5a5854;
  --neutral-emphasis: #433c3a;
  --neutral-contrast: #433c3a;

  /* -- TEXT SCALE ---- */
  --text-tint: #726f69;
  --text-mid: #726f69;
  --text-base: #716e68;
  --text-emphasis: #565450;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: light;
  --theme-chroma: calm;
  --theme-intensity: soft;
  --theme-contrast: standard;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #b1b2b6;
  --page-bg-raised: #a2a3a5;
  --page-bg-sunken: #a5a6a9;
  --page-bg-overlay: #b8b9bc;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #0b0b0b;
  --color-White: #ababab;
  --shadow-Black: #000000;
  --shadow-White: #b0aeaf;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 1;
  --media-saturation: 1;
  --media-contrast: 1;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #5b5600;
  --focus-bg: #b6b1b2;
  --highlight-link-color: #005859;
}
