/**
 * Theme: cloudcalm
 * Generator: cloudcalm
 * Luminance: dark | HC
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #7a6067;
  --primary-mid: #bb909c;
  --primary-base: #b5c2eb;
  --primary-emphasis: #fee1ec;
  --primary-contrast: #fee1ec;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #60677d;
  --secondary-mid: #919cc0;
  --secondary-base: #c7bfbc;
  --secondary-emphasis: #e5edfe;
  --secondary-contrast: #e5edfe;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #6d6664;
  --neutral-mid: #a09896;
  --neutral-base: #c9c1be;
  --neutral-emphasis: #f7efec;
  --neutral-contrast: #f7efec;

  /* -- TEXT SCALE ---- */
  --text-tint: #504a48;
  --text-mid: #7c7573;
  --text-base: #9c9491;
  --text-emphasis: #e5b4c1;

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: calm;
  --theme-intensity: soft;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #3b2e31;
  --page-bg-raised: #4b3d41;
  --page-bg-sunken: #2b1f23;
  --page-bg-overlay: #56484b;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #191919;
  --color-White: #f5f5f5;
  --shadow-Black: #010101;
  --shadow-White: #f5f5f5;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #efd488;
  --focus-bg: #3b2e31;
  --highlight-link-color: #86ecda;

  --a11y-hc-icon-filter: brightness(0) invert(1);
}
