/**
 * Theme: cloudcalm
 * Generator: cloudcalm
 * Luminance: light | HC
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #a7bbc2;
  --primary-mid: #60808a;
  --primary-base: #40646f;
  --primary-emphasis: #204f5c;
  --primary-contrast: #204f5c;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #c0b6a6;
  --secondary-mid: #87785f;
  --secondary-base: #6b5b3f;
  --secondary-emphasis: #574523;
  --secondary-contrast: #574523;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #b5b0ac;
  --neutral-mid: #7f7974;
  --neutral-base: #625c58;
  --neutral-emphasis: #47413d;
  --neutral-contrast: #47413d;

  /* -- TEXT SCALE ---- */
  --text-tint: #a29d9d;
  --text-mid: #767070;
  --text-base: #5b5353;
  --text-emphasis: #413838;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: light;
  --theme-chroma: calm;
  --theme-intensity: soft;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #dce7e9;
  --page-bg-raised: #ecf3f5;
  --page-bg-sunken: #cfdadc;
  --page-bg-overlay: #e5edee;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #1a1a1a;
  --color-White: #fafafa;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #008860;
  --color-Warning: #b47415;
  --color-Error: #8a0060;
  --color-Info: #2f5f8a;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 1;
  --media-saturation: 1;
  --media-contrast: 1;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #762f3d;
  --focus-bg: #dce7e9;
  --highlight-link-color: #474600;

  --a11y-hc-icon-filter: brightness(0) invert(0);
}
