/**
 * Theme: cloudcalm
 * Generator: cloudcalm
 * Luminance: dark
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #665759;
  --primary-mid: #9b8a8d;
  --primary-base: #c0acaf;
  --primary-emphasis: #ebd5d9;
  --primary-contrast: #ebd5d9;

  /* -- SECONDARY SCALE ---- */
  --text-tint: #585b67;
  --text-mid: #8d8f9c;
  --text-base: #adb0c1;
  --text-emphasis: #d7daed;
  --text-contrast: #d7daed;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #665f5c;
  --neutral-mid: #958e8b;
  --neutral-base: #b7b0ac;
  --neutral-emphasis: #e2d9d6;
  --neutral-contrast: #e2d9d6;

  /* -- TEXT SCALE ---- */
  --secondary-tint: #544e4c;
  --secondary-mid: #635c59;
  --secondary-base: #807977;
  --secondary-emphasis: #a09995;
  --secondary-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: calm;
  --theme-intensity: soft;
  --theme-contrast: soft;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #34363b;
  --page-bg-raised: #44454b;
  --page-bg-sunken: #25272c;
  --page-bg-overlay: #4f5056;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #f5f5f5;
  --color-White: #1d1d1d;
  --shadow-Black: #040404;
  --shadow-White: #f5f5f5;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--shadow-Black);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #dbc87a;
  --focus-bg: #3a3435;
  --highlight-link-color: #73ded3;
}
