/**
 * Theme: cloudcalm
 * Generator: cloudcalm
 * Luminance: dark
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #625457;
  --primary-mid: #97878b;
  --primary-base: #b0a0a4;
  --primary-emphasis: #ddc7cd;
  --primary-contrast: #ddc7cd;

  /* -- SECONDARY SCALE ---- */
  --text-tint: #545864;
  --text-mid: #888c99;
  --text-base: #a0a4b2;
  --text-emphasis: #c8cddf;
  --text-contrast: #c8cddf;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #635c59;
  --neutral-mid: #928a88;
  --neutral-base: #b4aca9;
  --neutral-emphasis: #ded5d3;
  --neutral-contrast: #ded5d3;

  /* -- TEXT SCALE ---- */
  --secondary-tint: #504c4b;
  --secondary-mid: #857f7d;
  --secondary-base: #b4aca9;
  --secondary-emphasis: #dfd5d2;
  --secondary-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: calm;
  --theme-intensity: soft;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #323338;
  --page-bg-raised: #414247;
  --page-bg-sunken: #232429;
  --page-bg-overlay: #4b4d52;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #fafafa;
  --color-White: #1a1a1a;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--shadow-Black);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #ddc276;
  --focus-bg: #323338;
  --highlight-link-color: #73dac8;
}
