/**
 * Theme: cloudcalm
 * Generator: cloudcalm
 * Luminance: light | HC
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #ccb1be;
  --primary-mid: #7d586c;
  --primary-base: #314766;
  --primary-emphasis: #441732;
  --primary-contrast: #441732;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #acbbd1;
  --secondary-mid: #516684;
  --secondary-base: #524a4a;
  --secondary-emphasis: #0c2951;
  --secondary-contrast: #0c2951;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #b8b1b0;
  --neutral-mid: #6b6262;
  --neutral-base: #4c4444;
  --neutral-emphasis: #2f2828;
  --neutral-contrast: #2f2828;

  /* -- TEXT SCALE ---- */
  --text-tint: #88807f;
  --text-mid: #877f7e;
  --text-base: #6c6464;
  --text-emphasis: #5e394e;

  /* -- THEME META ---------------------------------- */
  --theme-luminance: light;
  --theme-chroma: calm;
  --theme-intensity: soft;
  --high-contrast: true;
  --theme-contrast: standard;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #d5cbd0;
  --page-bg-raised: #e0dadc;
  --page-bg-sunken: #c8bec3;
  --page-bg-overlay: #d9d3d6;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #1b1b1b;
  --color-White: #e3e3e3;
  --shadow-Black: #000000;
  --shadow-White: #e8e8e8;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 1;
  --media-saturation: 1;
  --media-contrast: 1;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #5f3b0a;
  --focus-bg: #d5cbd0;
  --highlight-link-color: #18533c;

  --a11y-hc-icon-filter: brightness(0) invert(0);
}
