/**
 * Theme: cloudcalm
 * Generator: cloudcalm
 * Luminance: dark
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #4d5b61;
  --primary-mid: #808f96;
  --primary-base: #98a7ae;
  --primary-emphasis: #bdd2db;
  --primary-contrast: #bdd2db;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #545864;
  --secondary-mid: #888c99;
  --secondary-base: #a0a4b2;
  --secondary-emphasis: #c8cddf;
  --secondary-contrast: #c8cddf;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #625c58;
  --neutral-mid: #918b86;
  --neutral-base: #b3ada8;
  --neutral-emphasis: #ddd6d1;
  --neutral-contrast: #ddd6d1;

  /* -- TEXT SCALE ---- */
  --text-tint: #504c4c;
  --text-mid: #857e7e;
  --text-base: #b4acab;
  --text-emphasis: #d6d6df;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: calm;
  --theme-intensity: soft;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #2e3437;
  --page-bg-raised: #3d4346;
  --page-bg-sunken: #202527;
  --page-bg-overlay: #484e51;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #fafafa;
  --color-White: #1a1a1a;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #5fb094;
  --color-Warning: #e6b87a;
  --color-Error: #c06093;
  --color-Info: #8aafd1;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--shadow-Black);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #feaaae;
  --focus-bg: #2e3437;
  --highlight-link-color: #bacf84;
}
