/**
 * Theme: cloudcalm
 * Generator: cloudcalm
 * Luminance: dark | HC
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #7b6168;
  --primary-mid: #bc919d;
  --primary-base: #e6b5c2;
  --primary-emphasis: #ffe2ed;
  --primary-contrast: #ffe2ed;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #61687e;
  --secondary-mid: #929dc1;
  --secondary-base: #b6c3ec;
  --secondary-emphasis: #e6eeff;
  --secondary-contrast: #e6eeff;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #6e6765;
  --neutral-mid: #a19997;
  --neutral-base: #cac2bf;
  --neutral-emphasis: #f8f0ed;
  --neutral-contrast: #f8f0ed;

  /* -- TEXT SCALE ---- */
  --text-tint: #514b49;
  --text-mid: #7d7674;
  --text-base: #9d9592;
  --text-emphasis: #c8c0bd;

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: calm;
  --theme-intensity: soft;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #3c2f32;
  --page-bg-raised: #4c3e42;
  --page-bg-sunken: #2c2024;
  --page-bg-overlay: #57494c;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #1a1a1a;
  --color-White: #fafafa;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #f0d589;
  --focus-bg: #3c2f32;
  --highlight-link-color: #87eddb;

  --a11y-hc-icon-filter: brightness(0) invert(1);
}
