/**
 * Theme: cloudcalm
 * Generator: cloudcalm
 * Luminance: light | HC
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #c0b6a6;
  --primary-mid: #877860;
  --primary-base: #6b5b40;
  --primary-emphasis: #574424;
  --primary-contrast: #574424;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #b1b7c8;
  --secondary-mid: #717993;
  --secondary-base: #545c78;
  --secondary-emphasis: #3d4666;
  --secondary-contrast: #3d4666;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #b6afad;
  --neutral-mid: #807876;
  --neutral-base: #635c59;
  --neutral-emphasis: #47413e;
  --neutral-contrast: #47413e;

  /* -- TEXT SCALE ---- */
  --text-tint: #a29d9c;
  --text-mid: #76706e;
  --text-base: #5a5451;
  --text-emphasis: #403936;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: light;
  --theme-chroma: calm;
  --theme-intensity: soft;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #ece1e4;
  --page-bg-raised: #f7f0f1;
  --page-bg-sunken: #dfd4d7;
  --page-bg-overlay: #f0e9eb;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #1a1a1a;
  --color-White: #fafafa;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 1;
  --media-saturation: 1;
  --media-contrast: 1;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #573e00;
  --focus-bg: #ece1e4;
  --highlight-link-color: #005245;

  --a11y-hc-icon-filter: brightness(0) invert(0);
}
