/**
 * Theme: cloudcalm
 * Generator: cloudcalm
 * Luminance: light
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #d3bec3;
  --primary-mid: #a69297;
  --primary-base: #766368;
  --primary-emphasis: #57494c;
  --primary-contrast: #57494c;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #bec4d5;
  --secondary-mid: #9298a8;
  --secondary-base: #636878;
  --secondary-emphasis: #494d58;
  --secondary-contrast: #494d58;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #c3bcba;
  --neutral-mid: #928a88;
  --neutral-base: #6e6765;
  --neutral-emphasis: #524b49;
  --neutral-contrast: #524b49;

  /* -- TEXT SCALE ---- */
  --text-tint: #867e7c;
  --text-mid: #867e7c;
  --text-base: #857d7b;
  --text-emphasis: #6a6361;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: light;
  --theme-chroma: calm;
  --theme-intensity: soft;
  --theme-contrast: standard;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #e8e3e4;
  --page-bg-raised: #f4f1f2;
  --page-bg-sunken: #dbd6d7;
  --page-bg-overlay: #eeeaeb;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #1a1a1a;
  --color-White: #fafafa;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 1;
  --media-saturation: 1;
  --media-contrast: 1;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #796006;
  --focus-bg: #e8e3e4;
  --highlight-link-color: #006c5e;
}
