/**
 * Theme: cloudcalm
 * Generator: cloudcalm
 * Luminance: dark | HC
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #706f57;
  --primary-mid: #a8a67f;
  --primary-base: #c2c6f0;
  --primary-emphasis: #f4f2d8;
  --primary-contrast: #f4f2d8;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #696b82;
  --secondary-mid: #9da0c5;
  --secondary-base: #cfcda0;
  --secondary-emphasis: #eef2ff;
  --secondary-contrast: #eef2ff;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #726c69;
  --neutral-mid: #a69e9b;
  --neutral-base: #cfc8c3;
  --neutral-emphasis: #fbf3ef;
  --neutral-contrast: #fbf3ef;

  /* -- TEXT SCALE ---- */
  --text-tint: #55504d;
  --text-mid: #827b78;
  --text-base: #a29a96;
  --text-emphasis: #cdc6c1;

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: calm;
  --theme-intensity: soft;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #413334;
  --page-bg-raised: #514244;
  --page-bg-sunken: #312426;
  --page-bg-overlay: #5c4e4e;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #1e1e1e;
  --color-White: #f5f5f5;
  --shadow-Black: #050505;
  --shadow-White: #f5f5f5;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #ebdf90;
  --focus-bg: #413334;
  --highlight-link-color: #87f2ec;

  --a11y-hc-icon-filter: brightness(0) invert(1);
}
