/**
 * Theme: cloudcalm
 * Generator: cloudcalm
 * Luminance: light
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --secondary-tint: #d0bfc3;
  --secondary-mid: #aa9a9e;
  --secondary-base: #7f7074;
  --secondary-emphasis: #615457;
  --secondary-contrast: #615457;

  /* -- SECONDARY SCALE ---- */
  --neutral-tint: #bfc4d2;
  --neutral-mid: #9a9eab;
  --neutral-base: #707481;
  --neutral-emphasis: #545862;
  --neutral-contrast: #545862;

  /* -- NEUTRAL SCALE ---- */
  --primary-tint: #c3bcba;
  --primary-mid: #928a88;
  --primary-base: #6e6765;
  --primary-emphasis: #524b49;
  --primary-contrast: #524b49;

  /* -- TEXT SCALE ---- */
  --text-tint: #b5b0ae;
  --text-mid: #857f7d;
  --text-base: #69615f;
  --text-emphasis: #534b48;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: light;
  --theme-chroma: calm;
  --theme-intensity: soft;
  --theme-contrast: standard;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #c1c2c6;
  --page-bg-raised: #aeafb1;
  --page-bg-sunken: #b5b6b9;
  --page-bg-overlay: #c8c9cc;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #1a1a1a;
  --color-White: #fafafa;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 1;
  --media-saturation: 1;
  --media-contrast: 1;
  --svg-ghost-color: var(--primary-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #573e00;
  --focus-bg: #c1c2c6;
  --highlight-link-color: #004a3d;
}
