/**
 * Theme: cloudcalm
 * Generator: cloudcalm
 * Luminance: light
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #bfc4d2;
  --primary-mid: #999eab;
  --primary-base: #707481;
  --primary-emphasis: #545862;
  --primary-contrast: #545862;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #bfc4d2;
  --secondary-mid: #9a9eab;
  --secondary-base: #707481;
  --secondary-emphasis: #545862;
  --secondary-contrast: #545862;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #c0beb8;
  --neutral-mid: #8e8c85;
  --neutral-base: #6b6963;
  --neutral-emphasis: #4f4d47;
  --neutral-contrast: #4f4d47;

  /* -- TEXT SCALE ---- */
  --text-tint: #b5b0ae;
  --text-mid: #857f7d;
  --text-base: #69615f;
  --text-emphasis: #534b48;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: light;
  --theme-chroma: calm;
  --theme-intensity: soft;
  --theme-contrast: standard;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #c2c2c7;
  --page-bg-raised: #aeafb2;
  --page-bg-sunken: #b5b6ba;
  --page-bg-overlay: #c8c9cc;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #1a1a1a;
  --color-White: #fafafa;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 1;
  --media-saturation: 1;
  --media-contrast: 1;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #6e291f;
  --focus-bg: #c2c2c7;
  --highlight-link-color: #004b1e;
}
