/**
 * Theme: cloudcalm
 * Generator: cloudcalm
 * Luminance: light
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --secondary-tint: #c5b8aa;
  --secondary-mid: #b0a295;
  --secondary-base: #807165;
  --secondary-emphasis: #60564d;
  --secondary-contrast: #60564d;

  /* -- SECONDARY SCALE ---- */
  --primary-tint: #c4b4c0;
  --primary-mid: #af9faa;
  --primary-base: #7f6e79;
  --primary-emphasis: #61545c;
  --primary-contrast: #61545c;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #cccbc5;
  --neutral-mid: #999992;
  --neutral-base: #747670;
  --neutral-emphasis: #595952;
  --neutral-contrast: #595952;

  /* -- TEXT SCALE ---- */
  --text-tint: #8d8d86;
  --text-mid: #8d8d86;
  --text-base: #8c8c85;
  --text-emphasis: #70726c;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: light;
  --theme-chroma: calm;
  --theme-intensity: soft;
  --theme-contrast: standard;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #c4c0c4;
  --page-bg-raised: #d1ced0;
  --page-bg-sunken: #cecace;
  --page-bg-overlay: #cbc7ca;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #242424;
  --color-White: #c1c0c0;
  --shadow-Black: #000000;
  --shadow-White: #c6c6c6;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 1;
  --media-saturation: 1;
  --media-contrast: 1;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #368155;
  --focus-bg: #c4c3c0;
  --highlight-link-color: #3c6d96;
}
