/**
 * Theme: cloudcalm
 * Generator: cloudcalm
 * Luminance: dark | HC
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #636978;
  --primary-mid: #7d859f;
  --primary-base: #939ebb;
  --primary-emphasis: #b0bde2;
  --primary-contrast: #b0bde2;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #636878;
  --secondary-mid: #7d859f;
  --secondary-base: #949dbb;
  --secondary-emphasis: #b1bce2;
  --secondary-contrast: #b1bce2;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #6d6863;
  --neutral-mid: #8b8580;
  --neutral-base: #a9a39e;
  --neutral-emphasis: #c9c3be;
  --neutral-contrast: #c9c3be;

  /* -- TEXT SCALE ---- */
  --text-tint: #615c5c;
  --text-mid: #8e8787;
  --text-base: #b7afae;
  --text-emphasis: #dfd4d4;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: calm;
  --theme-intensity: soft;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #2f333d;
  --page-bg-raised: #3e424d;
  --page-bg-sunken: #21242d;
  --page-bg-overlay: #494d58;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #fafafa;
  --color-White: #1a1a1a;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #ffd9cd;
  --focus-bg: #2f333d;
  --highlight-link-color: #a7ebb5;

  --a11y-hc-icon-filter: brightness(0) invert(1);
}
