/**
 * Theme: cloudcalm
 * Generator: cloudcalm
 * Luminance: dark | HC
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #6e6958;
  --primary-mid: #8f866c;
  --primary-base: #a99e7f;
  --primary-emphasis: #cbbd96;
  --primary-contrast: #cbbd96;

  /* -- SECONDARY SCALE ---- */
  --secondary-tint: #636878;
  --secondary-mid: #7d859f;
  --secondary-base: #949dbb;
  --secondary-emphasis: #b1bce2;
  --secondary-contrast: #b1bce2;

  /* -- NEUTRAL SCALE ---- */
  --neutral-tint: #6e6765;
  --neutral-mid: #8c8482;
  --neutral-base: #aaa3a0;
  --neutral-emphasis: #cac2bf;
  --neutral-contrast: #cac2bf;

  /* -- TEXT SCALE ---- */
  --text-tint: #615c5b;
  --text-mid: #8e8885;
  --text-base: #b7afac;
  --text-emphasis: #dfd5d2;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: calm;
  --theme-intensity: soft;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #3c2f32;
  --page-bg-raised: #4c3e42;
  --page-bg-sunken: #2c2024;
  --page-bg-overlay: #57494c;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #fafafa;
  --color-White: #1a1a1a;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--neutral-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #f0d589;
  --focus-bg: #3c2f32;
  --highlight-link-color: #87eddb;

  --a11y-hc-icon-filter: brightness(0) invert(1);
}
