/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: dark | HC
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --text-tint: #660132;
  --text-mid: #af085c;
  --text-base: #fd1a88;
  --text-emphasis: #ffb5cb;
  --text-contrast: var(--color-Black);

  /* -- SECONDARY SCALE ---- */
  --neutral-tint: #320084;
  --neutral-mid: #36008e;
  --neutral-base: #6200ef;
  --neutral-emphasis: #907ff6;
  --neutral-contrast: #907ff6;

  /* -- NEUTRAL SCALE ---- */
  --secondary-tint: #130f0b;
  --secondary-mid: #4f4943;
  --secondary-base: #9f9b95;
  --secondary-emphasis: #eeece7;
  --secondary-contrast: #eeece7;

  /* -- TEXT SCALE ---- */
  --primary-tint: #f1b09e;
  --primary-mid: #fccfc3;
  --primary-base: #fce5de;
  --primary-emphasis: #fcf1ef;
  --primary-contrast: #fcf1ef;

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --high-contrast: true;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #1b1b1b;
  --page-bg-raised: #292929;
  --page-bg-sunken: #0d0d0d;
  --page-bg-overlay: #333333;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #fafafa;
  --color-White: #1a1a1a;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #00f837;
  --color-Warning: #b3c870;
  --color-Error: #ff87fb;
  --color-Info: #bcb2ff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--secondary-mid);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #99d254;
  --focus-bg: #1b1b1b;
  --highlight-link-color: #c9acff;

  --a11y-hc-icon-filter: brightness(0) invert(1);
}
