/**
 * Theme: vivid
 * Generator: vivid
 * Luminance: dark
 * Neutral: warm
 * Text: warm
 */

:root {
  /* -- PRIMARY SCALE ---- */
  --primary-tint: #860b4e;
  --primary-mid: #c21774;
  --primary-base: #fc2498;
  --primary-emphasis: #ff9cc4;
  --primary-contrast: #ff9cc4;

  /* -- SECONDARY SCALE ---- */
  --neutral-tint: #0a0e8f;
  --neutral-mid: #1016b2;
  --neutral-base: #1d2dff;
  --neutral-emphasis: #527fff;
  --neutral-contrast: #527fff;

  /* -- NEUTRAL SCALE ---- */
  --secondary-tint: #232d2a;
  --secondary-mid: #5b6965;
  --secondary-base: #9eaba8;
  --secondary-emphasis: #e0eae7;
  --secondary-contrast: #e0eae7;

  /* -- TEXT SCALE ---- */
  --text-tint: #f4b0af;
  --text-mid: #ffd0cf;
  --text-base: #ffe7e6;
  --text-emphasis: #fff4f4;
  --text-contrast: var(--color-Black);

  /* -- THEME META ---------------------------------- */
  --theme-luminance: dark;
  --theme-chroma: vivid;
  --theme-intensity: full;
  --theme-contrast: strong;

  /* -- PAGE BACKGROUNDS ---------------------------- */
  --page-bg: #00342e;
  --page-bg-raised: #00443e;
  --page-bg-sunken: #002520;
  --page-bg-overlay: #005049;

  /* -- BLACK/WHITE + SHADOW ------------------------ */
  --color-Black: #fafafa;
  --color-White: #1a1a1a;
  --shadow-Black: #000000;
  --shadow-White: #ffffff;
  --color-Success: #00f837;
  --color-Warning: #9cce81;
  --color-Error: #ff87fb;
  --color-Info: #bcb2ff;

  /* -- THEME-SPECIFIC ------------------------------ */
  --media-brightness: 0.86;
  --media-saturation: 0.90;
  --media-contrast: 0.98;
  --svg-ghost-color: var(--shadow-Black);

  /* -- FOCUS + HIGHLIGHT TOKENS -------------------- */
  --focus-color: #bbc92f;
  --focus-bg: #00342e;
  --highlight-link-color: #c9acff;
}
